@charset "UTF-8";

*{
	box-sizing: border-box;
}



/* .box{width:1268px; height: 973px;} 
.box video{widows: 100%; height: 973px;} 동영상크기는 맘대로 하세영 */
.boxxx{width:1268px; height: 731px;} 
.boxxx video{width: 100%; height: 731px;} /*동영상크기는 맘대로 하세영*/

body {
	width: 100%;
	height: 100%;
	background-image: url("../image/bowling.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-attachment: fixed;
	background-size: 100% 100%;
	padding-top: 200px;
}
#dldldl{
	margin: 0 auto;
}


#wrap {
	font-size: large;
	width: 1268px;
	height: auto;
	text-align: left;
	margin: 0;
	margin-right: auto;
	margin-left: auto;

}

#sze{
	height: 100%;
}

#main_img {
	width: 1800px;
    position: relative;
    height: 800px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

#main_img ul {
	position: absolute;
	width: 100%;
    margin: 0px;
    padding: 0;
    list-style: none;
}

#main_img ul li {
    float: left;
    height: 1000px;
    margin: 0;
    padding: 0;
}

#mainimg{
    margin: 9px 0 0 0;
    height: 176px;
}






article#front {
	background-image: url("../image/aaaz.png");/* 이미지*/
	background-repeat: repeat-y;
	opacity: 0.7;
}





#logo img{
    width: 150px;
    height: 100px;
	margin: 20px 20px 20px 40px; /*위에서부터 시계방향으로 설정*/
	float: left;
}

.nav-up { top: -200px; }


header {
	width: 1268px;
	height: 208px;
	margin: 0;
	padding: 0;
	background-image: url("../image/aaaz.png");/* 이미지*/
	background-repeat: repeat-y;
	opacity: 0.9;
	position: fixed;
	top: 0;
	z-index: 4;
	transition: top 0.3s ease-in-out;

}



nav#top_menu {

	width: 1000px;
	float: right;
	
	
}

nav#top_menu ul {
	list-style: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: rgb(0, 0, 0);	
}

nav#top_menu ul li {
	float: center;
}

nav#top_menu a {
	text-decoration: none;
	color: #333;
	display: block;
	padding: 55px;
	float: left;
}


nav#top_menu a:hover {
	background-image: url("../image/bowlinglogo.jpg");
	
	opacity: 1;
	background-repeat: no-repeat;
	margin: 0 auto;

	/* background-image: url("../image/blue.gif"); */
	/* background-position: bottom; */
}

#login {
	float: right;
	margin: 20px 64px 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	word-spacing: 5px;
}

#login a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}

#login a:hover {
	color: #F90;
}

.clear {
	clear: both;
}





#solution {
	border: solid 1px #FFFFFF;
	width: 1268px;
	min-height: 150px;
	background: #ebebeb;
	padding: 10px;
	border-radius: 10px;
	margin: 0 0 0 20px;
}

#ggong, #security, #payment {
	width: 33%;
	float: left;
	padding: 10px;
}



#ggong h3, #security h3, #payment h3 {
	font-family: seo;
	font-weight: 600;
	color: rgb(0, 0, 0);
	margin: 0 0 10px ;
}

#ggong p, #security p, #payment p {
	font-family: seo;
	
	color: #333;
	margin: 0 0 0 0px;
}

#ggong p{
	float: left;
}

#ggong {
	
	background-repeat: no-repeat;
	background-position: left 15px;
}

#security {

	background-repeat: no-repeat;
	background-position: left 15px;
	border-right: 1px solid rgb(0, 0, 0);
	border-left: 1px solid rgb(0, 0, 0);
}

#payment {
	
	background-repeat: no-repeat;
	background-position: left 15px;
}


#notice , #board {
	float: left;
	
}


#notice {
	width: 400px;
	margin: 50px 0 0 50px;
}

#board{
	width: 700px;
	margin: 50px 0 50px 50px;
}




#notice h3, #board h3 {
	font-family: seo;
	font-size: 40px;
	font-style: italic;
	font-weight: normal;
	
	width: auto;
	height: 24px;
	
	background-repeat: no-repeat;
	padding: 5px 10px 15px 0px;
}

#notice .orange {
	color: #f26522;
}

#board .brown {
	color: #827b00;
}

#notice dt {
	font-family: "Times New Roman", Time, serif;
	font-size: 24px;
	margin: 5px 0;
	color: #F00;
}

#notice dt a {
	color: #F00;
	text-decoration: none;
}

#notice dt a:hover {
	color: #F90;
	text-decoration: underline;
}

#notice dd {
	margin-left: 0;
	color: #333;
	font-size: 24px;
}

#notice dd a {
	color: #333;
	text-decoration: none;
}

#notice dd a:hover {
	color: #F90;
	text-decoration: underline;
}
#board table {
	width: 600px;
	border-collapse: collapse;
	text-align: center;
}

#board td {
	padding: 6px 4px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
}

#board td.contxt {
	background-image: url();/* 이미지*/
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
	text-align: left;
	color: #333;
}

#board a {
	
	color: #333;
	text-decoration: none;
}

#board a:hover {
	text-decoration: none;
	color: #F90;
}
.iz{
	font-size: larger;
}

footer {
	margin: 0 0 0 0;
	height: 80px;
	background-image: url(); /* 이미지*/
	background-repeat: no-repeat;
	background-position: 40px center;
}

footer hr {
	width: 1268px;

	margin: auto
}

footer #copy {
	font-family: seo;
	width: 450px;
	margin: 20px 0 0 190px;
	float: left;
}

footer #social {
	width: 130px;
	margin: 20px 20px 0 0;
	float: right;
}

footer #social img {
	margin: 0 7px;
}



/* Model */
.modal {
    width: 100%; 
    height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: auto;
	padding-top: 60px;
    display: none;   /* 처음에는 팝업 안보이게 하기 */
}

.modal-content {  /* 모달 팝업 안의 form */
	border-radius: 50px;
    background-color: #fefefe;
    width: 40%;
    margin: 5px auto;
    border: 1px solid #888;
}

.imgcontainer {
    text-align: center;  /* 이미지 중앙 정렬 */
    margin: 24px 0 12px 0;  /* 바깥 여백 */
	position: relative;
	
}

.close { /* 닫기 버튼 (x) */
    font-size: 35px;
    font-weight: bold;
    color: #000;
    /* position 설정하여 우상단으로 배치 */
    position: absolute;
	right: 25px;
    top: 0;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

img.avatar {
    width: 40%;  /* 원래 이미지 크기의 40% */
    border-radius: 50%;  /* 이미지 둥글게 */
}

/* --------------------------------------- */
/* form */

.container {
	padding: 40px;
	
}

input[type=text], input[type=password] {
    width: 100%;
    padding : 12px 20px;
    margin : 8px 0;
    border : 1px solid #ccc;
    display: inline-block;
    box-sizing: border-box;  /* border 등 size가 width 안으로 들어옴 */
}

button { /* 버튼 기본 스타일 */
	border-radius: 100px;
    width: 100%;
    background-color: rgb(94, 77, 155);
    color: white;
    padding: 14px 20px;
    border: none;
    margin: 8px 0;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}



span.psw {
    float: right; 
	padding-bottom: 10px;
	margin-bottom: 10px;
}

/* 380 px  이하 화면에서 RWD */
@media screen and (max-width: 380px){
    .cancelbtn {
        width: 100%;
    }
    span.psw {
        float: none;
        display: block;
    }
}

/* 애니메이션 zoom 효과 */

.animate {
    animation: animatezoom 0.6s;
}

@keyframes animatezoom {
    from {transform: scale(0);}
    to {transform: scale(1);}      /* 0% ~ 100~ 까지를 의미 */
}



.containerz {
	display: flex;
	width: 100%;
	padding: 4% 2%;
	box-sizing: border-box;
	height: 100vh;
  }
  
  .box {
	flex: 1;
	overflow: hidden;
	transition: .5s;
	margin: 0 2%;
	line-height: 0;
}

.box > img {
	width: 200%;
	height: calc(100% - 10vh);
	object-fit: cover; 
	transition: .5s;
	box-shadow: 0 20px 30px rgba(0,0,0,.1);
  }
  
  .box > span {
	font-size: 3.8vh;
	display: block;
	text-align: center;
	height: 10vh;
	line-height: 2.6;
  }
  
  .box:hover { flex: 1 1 50%; }
  .box:hover > img {
	width: 100%;
	height: 100%;
  }
   



  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 50px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	
	margin-top: 100px;
	z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }